* {
	margin: 0;
	padding: 0;
	border: 0;
}

@font-face { font-family: SF-Ultralight; src: url("../fonts/SF-UI-Display/SF-UI-Display-Ultralight.otf");}
@font-face { font-family:SF-Light; src: url("../fonts/SF-UI-Display/SF-UI-Display-Light.otf"); }
@font-face { font-family:SF-Regular; src: url("../fonts/SF-UI-Display/SF-UI-Display-Regular.otf"); }
@font-face { font-family:SF-Bold;src: url("../fonts/SF-UI-Display/SF-UI-Display-Bold.otf");}
@font-face { font-family:SF-Black; src: url("../fonts/SF-UI-Display/SF-UI-Display-Black.otf");} 

.font-sf-ultralight { font-family: 'SF-Ultralight'; }
.font-sf-light { font-family: 'SF-Light'; }
.font-sf-regular { font-family: 'SF-Regular'; }
.font-sf-bold { font-family: 'SF-Bold'; }
.font-sf-black { font-family: 'SF-Black'; }